# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env

# Jupyter Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Models
*.csv
*.json
*.pt
*.bin
*.model
/dataset/
/models/

# OS
.DS_Store
Thumbs.db
